@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.admin{
    &__body{
        margin: 4rem 8rem;
    }  
}

.company{
    margin-top: 3rem;

    &__text{
        color: $link-button-color;
    }

    &__form{
        &-top{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            
        }
        .field{
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            &__label{
                display: block;
            }
            
            &__input{
                padding: .5rem .75rem;
                margin-top: .2rem;
                display: block;
                margin-right: 12rem;
                border-radius: .3125rem;
                border: .75px $border solid;
                background-color: #2A2F3B;
                color: $primary-text-color;
                width: 24.875rem;

                &::placeholder{
                    color: $primary-text-color;
                    font-size: .875rem;
                }

            }
            &__upload{
                background-color: #2A2F3B;
                margin: .3rem 0;
                width: 24.875rem;
                border-radius: .3125rem;
                border: .75px $border solid;
                height: 15.1875rem;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .text{
                    font-size: .75rem;
                    margin-top: .2rem;
                }

            }
            &__button{
                background-color: $link-button-color;
                color: white;
                font-weight: 600;
                border-radius: .3125rem;
                width: 9.0625rem;
                height: 2.625rem;
                padding: .3rem;
                margin: .75rem 7.5rem;
            }
        }
    }
}
