@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    font-size: .9375rem;

    &__image-container {
        height: 10vh;
        width: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        height: 70%;
    }

    &__nav {
        .active {
            color: $link-button-color;
            font-weight: 600;
        }
    }

    &__nav-item {
        margin-right: .9375rem;

        &:last-of-type {
            margin-right: 0;
        }

    }

    &__buttons-container {
        button {
            font-weight: 500;
            color: $primary-text-color;
            padding: .3125rem 1.25rem;
            border-radius: .25rem;
        }
    }

    &__login {
        background-color: $primary-background-color;
        
    }

    &__signup {
        background-color: $link-button-color;
    }
}