@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.header {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    overflow: hidden;

    @include desktop{
        padding: .5rem 5rem;
    }
    &__logo {
        width: 40%; 
        max-width: 12rem; 
        
        @include tablet {
            max-width: 15rem; 

        }
        @include desktop{
            margin-right: 12rem;
        }
    }

    &__nav {
        width: 40%;
        display: flex;
        align-items: flex-end;
        justify-content:left;
        list-style: none; 
        margin: auto;

        &-link {
            margin-right: .2rem; 
            text-decoration: none;
            color: $mdcblue;
            font-family: 'Inter'; 
            font-size: 0.8rem; 

            @include tablet{
                font-size: 1.2rem;
                margin-right: .6rem;

            }
            @include desktop{
                font-size: 1.4rem;
                margin-right: 1rem;
            }

            &:hover {
                transform: scale(1.05)            }
        }
    }
}
