// Breakpoints

$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;
$large-desktop-breakpoint: 2100px;

//colors

$mdcblue: #005DAB;
$text:rgb(161, 161, 161);
$jobs: rgb(194,221,248);
$students:rgb(235,200,197);
$border: #9E9E9E;
$light-green: rgb(181, 205, 79);

$shadow: rgba(99, 99, 99, 0.7) 0rem .125rem .625rem 0rem;


$primary-background-color: rgb(10, 11, 13);             /* Dark background */
$sidebar-background-color: rgb(30, 30, 30);             /* Dark gray for sidebar */
$card-background-color: rgb(30, 30, 30);                /* Background color for cards */

$border-color: rgb(213, 213, 213);                         /* Border color for elements */

$primary-text-color: rgb(255, 255, 255);                /* White text */
$secondary-text-color: rgb(102, 102, 102);              /* Lighter gray for text and icons */

$link-button-color: rgb(70, 139, 223);                   /* Blue for buttons and links */ 

$accent-red: rgb(234, 67, 53);                          /* Red for accents */
$accent-green: rgb(52, 168, 83);                        /* Green for accents */
$accent-light-blue: rgb(66, 133, 244);                  /* Blue for accents */

$input-color: rgb(0, 115, 255);                         /* Blue for input fields */
$slider-rail-color: rgb(85, 85, 85);

$hover-shadow: 0 0 1.25rem rgba(211, 211, 211, 0.45);
$active-shadow: 0 0 1.25rem rgba(0, 115, 255, 0.8);