@use './../../styles/partials/mixin' as *;
@use './../../styles/partials/typography' as *;
@use './../../styles/partials/variables' as *;

.job {
    padding: 0 1.25rem;
    display: grid;
    grid-template-areas:
        "categories results results"
        "filters results results";

    grid-template-rows: auto 1fr;
    grid-template-columns: 25% 1fr;
    gap: 3rem;

    &__categories {
        grid-area: categories;
    }

    &__filters {
        grid-area: filters;
    }

    &__results {
        grid-area: results;
    }
}